{% macro bootstrapPreview(h2Title,link,description,accordionid,translation, imgsrc) %}

    <div class="panel panel-default">
            <div class="panel-heading"style="transform: translateY({{translation|safe}});">


                    <h4 class="panel-title card">

                    <a data-toggle="collapse" data-parent="#{{accordionid|safe}}" href="#{{link|safe}}">{{h2Title}}</a>

                    </h4>
            </div>
            <div id="{{link|safe}}" class="panel-collapse collapse">
                <div class="panel-body quarter3 jumbotron" >
                    <img class="card-image" src="{{imgsrc|safe}}" alt="Card image cap">1
                        {{ description}}
                </div>
            </div>
     </div>

{% endmacro %}

{% macro bootstrapCard(link,htitle, content) %}
<img src={{link|safe}} class="img-fluid" alt="Responsive image" style="height: 40px ;">
{% endmacro %}



<div class="card card-inverse">
    <img class="card-image" src="{{imgsrc|safe}}" alt="Card image cap">
</div>

<div class="card">
  <img class="card-img-top" src="{{imgsrc|safe}}" alt="Card image cap">
  <div class="card-block">
  </div>
</div>
