{% macro bootstrapPreview(link,h2Title,description) %}
  <div class="container-fluid remove-borders" style="height: 25%;" >
    <div class="container-fluid btn-primary" style="height: 100%;" data-toggle="collapse" href="#{{link}}">
      {{h2Title}}
    </div>
  </div>

  <div class="container-fluid collapse remove-borders " id="{{link}}">
    <div class="container-fluid card card-block remove-borders" >
        {{description}}
    </div>
  </div>
{% endmacro %}

{% macro bootstrapCard(link,htitle, content) %}
<img src={{link|safe}} class="img-fluid" alt="Responsive image">
{% endmacro %} 
